<!DOCTYPE html>
<html lang="hu">
<%- include('partials/head.ejs')%>
<body>
<%- include('partials/navbar.ejs')%>
<main>
    <div class="error-message">
        ERROR: <%= message%>
    </div>
</main>
<%- include('partials/footer.ejs')%>
</body>
</html>
